

@font-face {
  font-family: 'kelson_sansbold';
  src: url('fonts/kelson_sans_bold-webfont.eot');
  src: url('fonts/kelson_sans_bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/kelson_sans_bold-webfont.woff2') format('woff2'),
  url('fonts/kelson_sans_bold-webfont.woff') format('woff'),
  url('fonts/kelson_sans_bold-webfont.ttf') format('truetype'),
  url('fonts/kelson_sans_bold-webfont.svg#kelson_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'kelson_sanslight';
  src: url('fonts/kelson_sans_light-webfont.eot');
  src: url('fonts/kelson_sans_light-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/kelson_sans_light-webfont.woff2') format('woff2'),
  url('fonts/kelson_sans_light-webfont.woff') format('woff'),
  url('fonts/kelson_sans_light-webfont.ttf') format('truetype'),
  url('fonts/kelson_sans_light-webfont.svg#kelson_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'kelson_sansregular';
  src: url('fonts/kelson_sans_regular-webfont.eot');
  src: url('fonts/kelson_sans_regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('fonts/kelson_sans_regular-webfont.woff2') format('woff2'),
  url('fonts/kelson_sans_regular-webfont.woff') format('woff'),
  url('fonts/kelson_sans_regular-webfont.ttf') format('truetype'),
  url('fonts/kelson_sans_regular-webfont.svg#kelson_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'pn';
  src: url('fonts/MarkSimonsonProximaNovaLight.eot');
  src: url('fonts/MarkSimonsonProximaNovaLight.eot') format('embedded-opentype'),
  url('fonts/MarkSimonsonProximaNovaLight.woff2') format('woff2'),
  url('fonts/MarkSimonsonProximaNovaLight.woff') format('woff'),
  url('fonts/MarkSimonsonProximaNovaLight.ttf') format('truetype'),
  url('fonts/MarkSimonsonProximaNovaLight.svg#MarkSimonsonProximaNovaLight') format('svg');
}
