/* ==============
  GLOBAL
================= */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &::-moz-focus-inner {
    border: 0;
  }
}
a:focus,input:focus,textarea:focus, select:focus {outline:none;}
::-moz-focus-inner {border:0;}
button:focus{
  outline: none
}
body, html {
  margin: 0;

}

body{
  font-size: 16px;
  font-family: 'kelson_sansregular', sans-serif;
  background-color: #1c1c1c;
}

h2, h3, h4{
  font-family: 'kelson_sansregular',sans-serif;
  font-weight: normal;
  margin: .5em 0;


}

input, textarea, select{
  font-family: 'kelson_sansregular',sans-serif;
}


header{
  margin-bottom: 25px;


}

table{
  width: 100%;
  text-align: left;

  td{
    padding: 10px 0;
  }
  th{
    font-weight: normal;
    font-family: 'kelson_sansbold', sans-serif;
  }
}

ul{
  padding: 0;
  margin: 0;

  li{
    list-style: none;
    padding: 0;

  }
}

li, tr{

}

a{
  color: #000;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}
.txt-a-r{
  text-align: right;
}
.txt-a-c{
  text-align: center;
}
.txt-lg{
  text-align: left;
}
.box-cont{
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0,0,0,.1);
  margin: 20px 0;

  &.no-p{
    padding: 0;
  }
}

main{
  padding-left: 260px;
}

.container{
  position: relative;
  padding: 20px;

}

.main-block{
  @include clearfix;
}

.content-box{
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  position: relative;
  background-color: #fff;
}

.container-fluid{
  padding-right: 15px;
  padding-left: 15px;
}

.main-content{
  background-color: #F9F9FE;
  position: relative;
  padding-top: 65px;
  min-height: 100vh;
  padding-bottom: 40px;
}

.aside{
  padding-right: 0;
  h4{
    margin: 0;
    padding: 15px;
    color: #bbb;
    border-bottom: 1px solid #eee;

    i{
      float: right;
    }
  }

  .btn{
    width: 100%;
    margin-bottom: 10px;
  }
  .container-fluid{
    padding-top: 10px;
    padding-bottom: 20px;
  }
}
tbody{
  tr{
    border-top: 1px solid #F0F0F0;

    &:first-of-type{
      border-top: 0;
    }
  }
}
.warning{
  color: #fff;
  padding: 5px;
  background-color: #ffab40;
}
.actions-links{
  float: right;
  & *{
    transition: all .25s ease-in-out;
  }
  a, button{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
    padding: 0;
    border: 0;
    &:hover{
      background-color: #F0F0F0;

      i{
        transform: scale(1.2);

        &.fa-trash-o{
          color: #E53935;
        }
      }

      &.save{
        background-color: #c0ca33;

      }

      &.delete{
        background-color: #E53935;

      }
    }


  }

}
.btn, .close,.export{
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 1.846;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #666;
  border: 0;
  position: relative;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  transition: all .4s cubic-bezier(0,0,.2,1);
  text-transform: uppercase;
  background-color: #fff;

  &:hover{
    text-decoration: none;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.18),0 4px 7px 0 rgba(0,0,0,.15);
  }

  &:disabled{
    cursor: default;
    pointer-events: none;
    background-color: #cccdcf!important;

  }

  &.secondary{
    color: #fff;
    background-color: #1b1b1b;
  }
  &.green-th{
    background-color: #8bc34a;
  }
  &.red-th{
    background-color: #F44336;
    color: #fff;
  }
}

.close, .export{
  position: absolute;
  top: -60px;
  right: 0;
  border-radius: 20px;
  text-align: center;
}
.export{
  right: 100px;
  background-color: red;
}
.bubble-results{
  position: absolute;
  display: inline-block;
  min-width: 20px;
  min-height: 10px;
  top: -10px;
  right: -10px;
  padding: 5px;
  border-radius: 10px;
  background-color: red;
  color: #fff;
  font-size: 10px;
  text-align: center;

}

.add-btn{
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  padding: 0;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
  transition: all .4s cubic-bezier(0,0,.2,1);
  border: 0;
  font-size: 17px;
  color: #fff;
  background-color: #F44336;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;

  &:hover{
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
  }
}

form{
  input[type="text"], select{
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
    font-size: 16px;
    height: 37px;
    width: 100%;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    &.ng-invalid.ng-dirty{
      box-shadow: inset 0 -1px 0 #F44336;
    }
  }

  header{
    @include clearfix;
    span{
      font-size: 14px;
      text-transform: uppercase;
      color: #bbb;
      margin-bottom: -4px;
      display: block;
    }
    i{
      width: 5%;
      font-size: 24px!important;
      float: left;
    }

    h2, h3{
      @include clearfix;
    }

    h2 input[type="text"],
    h3 select{
      background-color: transparent;
      width: 95%;
      float: left;
      box-shadow: none;
    }

    h2{
      input[type="text"]{
        font-size: 24px;
        line-height: 24px;
      }
    }
    h3 select{
      font-size: 14px;
      line-height: 14px;
    }
  }

  label{
    width: 100%;
    i{
      color: #bbb;
    }
    &:hover{
      i{
        color: #000;
      }
    }
  }

  h3{
    color: #9b9b9b;
  }

  button[type="submit"]{
    margin: 20px 0;
  }

  select{
    background-color: #fff;
  }

  //<i>
  .fa-circle-o-notch{
    display: none;
  }

  &.processing{
    button[type="submit"]{
      i{
        display: none;

        &.fa-circle-o-notch{
          display: inline-block;
        }
      }
    }
  }
}