$imgPath : '../img/';


$gray-primary : #bbb;

$question-red : #dd0717;
$question-green : #39b54a;
$question-orange  : #ef8126;
$question-yellow  : #ffdb09;

$warning : #ffdb09;
$success : #39b54a;
$error : #dd0717;

$red : #f44336;
$green : #8bc34a;
$yellow : #ffff33;

