  <div class="answer-options">
    <a class="excellent animated zoomIn" data-answer="excelente" ng-click="saveAnswers($parent.question.id,'excelente')"><i class="eye left"></i><i class="eye right"></i><i class="mouth"></i></a>
    <a class="good animated zoomIn" data-answer="bueno" ng-click="saveAnswers($parent.question.id,'bueno')"><i class="eye left"></i><i class="eye right"></i><i class="mouth"></i></a>
    <a class="regular animated zoomIn" data-answer="regular" ng-click="saveAnswers($parent.question.id,'regular')"><i class="eye left"></i><i class="eye right"></i><i class="mouth"></i></a>
    <a class="bad animated zoomIn" data-answer="malo" ng-click="saveAnswers($parent.question.id,'malo')"><i class="eye left"></i><i class="eye right"></i><i class="mouth"></i></a>
  </div>
