<form ng-submit="$parent.saveNewLocation()" method="post" name="newLocation" class="create-form">
  <table>
    <tr>
      <td>
        <input type="text" value="" placeholder="Nombre de la Tienda" ng-model="$parent.newLocationName" name="store" required />
      </td>
      <td>
        <input type="text" value="" placeholder="Incicar Área" ng-model="$parent.newLocationArea" name="area" required />
      </td>
      <td>
        <div class="actions-links">
          <button class="save" type="submit" title="Guardar"><i class="fa fa-check"></i></button>
          <button class="delete" type="reset" ng-click="$parent.showCreateCutomerForm = false;" title="Cancelar"><i class="fa fa-times"></i></button>
        </div>
      </td>
    </tr>
  </table>

</form>