<div class="questions-container">

  <div class="step question{{$index+1}}" ng-repeat="question in questions" ng-class="{'current':$index+1 == currentStep, 'animated fadeOutLeftBig': $index+1 == currentStep - 1,'off':$index+1 <= currentStep - 2}" style="z-index: {{numberOfQuestions - $index}}" ng-style="answerSelectedColor">
    <div class="question">
      <h2>{{question.question}}</h2>
    </div>


    <div class="customer-answer" ng-show="question.type === 'multiple'">
      <div class="answer-options">
        <a class="excellent animated zoomIn" data-answer="excelente" ng-click="saveAnswers(question.id,'excelente')"><i class="eye left"></i><i class="eye right"></i><i class="mouth"></i></a>
        <a class="good animated zoomIn" data-answer="bueno" ng-click="saveAnswers(question.id,'bueno')"><i class="eye left"></i><i class="eye right"></i><i class="mouth"></i></a>
        <a class="regular animated zoomIn" data-answer="regular" ng-click="saveAnswers(question.id,'regular')"><i class="eye left"></i><i class="eye right"></i><i class="mouth"></i></a>
        <a class="bad animated zoomIn" data-answer="malo" ng-click="saveAnswers(question.id,'malo')"><i class="eye left"></i><i class="eye right"></i><i class="mouth"></i></a>
      </div>

    </div>
    <div class="customer-answer" ng-show="question.type === 'polar'">
      <div class="answer-options">
        <a class="excellent animated zoomIn" data-answer="si" ng-click="saveAnswers(question.id,'si')"><i class="eye left"></i><i class="eye right"></i><i class="mouth"></i></a>
        <a class="bad animated zoomIn" data-answer="no" ng-click="saveAnswers(question.id,'no')"><i class="eye left"></i><i class="eye right"></i><i class="mouth"></i></a>
      </div>
    </div>
  </div>
  <div class="step thanks" ng-class="{current:pollCompleted}">
    <div class="thanksTxt">
      <h2>¡Muchas gracias!</h2>
      <figure>
        <img src="../../public/images/powered-by-switch-tabs.png" alt=""/>
      </figure>
      <p>www.switchtabs.com</p>
    </div>

  </div>

</div>
<div class="loading" ng-class="{'hide' : loaded == true}"></div>
<div ng-show="waiting" class="resetSurveyAlert">
  <div class="cont">
    <h2>La encuesta se reiniciará en:</h2>
    <p class="number" ng-bind="counter"></p>
    <p>Desea continuar ?</p>
    <a ng-click="continueSurvey()">Si, deseo continuar</a>
  </div>

</div>