.breadcrumb{
  font-size: 13px;
  line-height: 17px;
  padding: 12px 15px;
  margin: 12px 0;
  list-style: none;
  background-color: inherit;
  border-radius: 3px;
  white-space: nowrap;
  color: #919496;

  li{
    display: inline-block;
  }

  i{
    text-align: center;
    width: 15px;
  }
}