<div class="survey container">


    <form ng-submit="saveSurvey()" name="surveyQuestionsForm" method="post" class="survey-form" ng-class="{'processing' : processing}">
      <header>
        <h2><label for="survey"><span>Encuesta</span>
          <input id="survey" type="text" value="{surveyName}}" ng-model="surveyName" name="name"/>
          <i class="fa fa-pencil-square"></i>
          </label>
        </h2>
        <h3><label for="customer"><span>Cliente</span>
          <select id="customer" name="customerID" ng-model="surveyCustomer">
            <option ng-repeat="option in customerList" value="{{option.id}}" ng-selected="">{{option.name}}</option>
          </select>
          <i class="fa fa-pencil-square"></i>
        </label>
        </h3>

      </header>
      <div class="main-block">
        <div class="col-3-4">
          <div class="box-cont" ng-class="{'warning' : !hasQuestions}">
            <h3 ng-hide="!hasQuestions">Preguntas</h3>

            <div class="questions-list-container">
              <p ng-hide="hasQuestions"><i class="fa fa-exclamation-circle"></i> Aún no hay preguntas en la encuesta</p>
              <ol class="question-list" ng-show="hasQuestions">
                <li ng-repeat="question in surveyQuestions">
                  <div class="col-3-4">
                    <span class="item md">{{question.question}}</span>
                    <span class="item sm q-t" ng-include="getPartialSrc(question.type)"></span>
                  </div>
                  <div class="col-1-4 actions-links">
                    <a ng-href="/admin/category/{{category.id}}/edit" title="Editar"><i class="fa fa-pencil"></i></a>
                    <a ng-click="removeQuestion($index)" title="Borrar"><i class="fa fa-trash-o"></i></a>
                  </div>
                </li>
              </ol>
            </div>

          </div>
          <div class="box-cont">
            <h3>Crear preguntas</h3>
            <div class="create-question">
              <label for="question" class="question">
                <span><i class="fa fa-question-circle"></i> Pregunta</span>
                <input id="question" type="text" value="" ng-model="tempQuestion"/>
              </label>
              <label for="category" class="category">
                <span><i class="fa fa-share-alt"></i> Categoría</span>
                <select id="category" name="category" ng-model="tempCategory">
                  <option ng-repeat="category in categoryList" ng-value="{{category.id}}">{{category.name}}</option>
                </select>
              </label>
              <label for="questionType" class="question-type">
                <span><i class="fa fa-th-large"></i> Tipo de pregunta</span>
                <select id="questionType" name="questionType" ng-model="tempType">
                  <option value="" selected></option>
                  <option ng-repeat="type in settings.questionsType" ng-value="{{type.name}}">{{type.name}}</option>
                </select>
              </label>
              <button class="btn secondary" ng-click="addQuestion()">Agregar Pregunta</button>

            </div>
          </div>


        </div>
        <div class="col-1-4 aside">
          <div class="box-cont no-p">
            <h4>Publicar</h4>
            <div class="container-fluid text-a-c">
              <button class="btn" ng-click="previewSurvey()" ng-disabled="!hasQuestions">Vista previa</button>
              <button class="btn secondary green-th" ng-click="updateSurvey()" ng-disabled="!hasQuestions">Guardar</button>
            </div>
          </div><!--box-cont-->
          <div class="box-cont no-p">
            <h4>Aplicar en:</h4>
            <div class="container-fluid">
              <dl class="list-locations">
                <li><label for="location-all"><input id="location-all" type="checkbox" ng-model="selectAll" ng-model-options="{ getterSetter : true}" /> Todas</label></li>
                <li ng-repeat="location in customerLocations">
                  <input id="location-{{location.id}}" type="checkbox" value="{{location.id}}"  ng-model="location.Selected" ng-init="location.Selected"  /> <label for="location-{{location.id}}">{{location.store}} <span class="location-area"> / {{location.area}}</span></label>
                </li>
              </dl>
            </div>
          </div><!--box-cont-->
        </div>
      </div>


    </form>


</div>