<div class="survey container">
  <header>
    <h2><i class="fa fa-list-ul"></i> Encuestas</h2>
  </header>
  <div class="box-cont">
    <table ng-table="surveys.tableParams" class="table table-condensed table-bordered table-striped table-w-actions">

      <tr ng-repeat="survey in $data">
        <td title="'ID'" sortable="'id'">
          <a ng-href="/#/survey/detail/{{survey.id}}" title="ID">{{survey.id}}</a>
        </td>
        <td title="'Nombre'" sortable="'name'"  filter="{name: 'text'}">
          <a ng-href="/#/survey/detail/{{survey.id}}" title="Detalle de la Encuesta">{{survey.name}}</a>
        </td>
        <td title="'Cliente'" sortable="'customerName'" ng-switch="row.isEditing">
          {{survey.customerName}}
        </td>
        <td title="'Status'">
          {{survey.status}}
        </td>
        <td class="txt-a-r" title="'Acciones'" >
          <div class="actions-links">
            <a ng-href="/#/survey/edit/{{survey.id}}" title="Editar de la Encuesta"><i class="fa fa-pencil"></i></a>

            <a ng-href="/#/survey/detail/{{survey.id}}" title="Detalle de la Encuesta"><i class="fa fa-list-alt"></i></a>
            <a ng-click="deleteSurvey(survey.id)" title="Borrar"><i class="fa fa-trash-o"></i></a>
          </div>
        </td>
      </tr>
    </table>

  </div>
</div>

<!--Create Customer Btn-->
<a class="add-btn" ng-href="/#/survey/new"><i class="fa fa-plus"></i></a>
<!--/Create Customer Btn-->