.step{
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;

  z-index: -1;
  &.current{
    background-color: #fff!important;
    opacity: 1;
  }

  &.off{
    display: none;
  }

  &.thanks{
    opacity: 0;

    &.current{
      opacity: 1;
    }
  }

}
.question{
  width: 100%;
  height: 40vh;
  background-color: #d8d8d8;
  display: table;
  padding: 0 10%;
  h2{

    margin: 0;
    display: table-cell;
    vertical-align: middle;
    font-size: 42px;
    line-height: 51px;

  }
}

.customer-answer{
  width: 100%;
  height: 60vh;
  display: table;
  padding: 0 5%;
  .answer-options{
    display: table-cell;
    vertical-align: middle;
  }
}

.thanks{

  display: table;

  &.current{
    background-color: #d8d8d8!important;
  }

  .thanksTxt{
    display: table-cell;
    vertical-align: middle;

    h2{
      font-size: 59px;
      line-height: 65px;
    }
    p{
      margin: 0;
      font-family: 'pn',sans-serif;
      position: absolute;
      font-size: 41px;
      width: 100%;
      bottom: 10px;
    }
  }
}
.hide{
  display: none;
}


.customer-answer a{
  border-radius: 50%;
  width: 124px;
  height: 124px;
  display: inline-block;
  margin: 0 2%;
  position: relative;
  z-index: 10;
  border: 10px solid #000;
  -webkit-transition: all .50s;
  -moz-transition: all .50s;
  transition: all .50s;
  &:before{
    content: "";
    opacity: .5;
    display: block;
    width: 90%;
    height: 83%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 70px;
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjUzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZjZmMiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.53) 0%, rgba(255,252,252,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.53)), color-stop(100%,rgba(255,252,252,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.53) 0%,rgba(255,252,252,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0.53) 0%,rgba(255,252,252,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.53) 0%,rgba(255,252,252,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.53) 0%,rgba(255,252,252,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87ffffff', endColorstr='#00fffcfc',GradientType=0 ); /* IE6-8 */

  }


  &:focus, &:active{
    box-shadow: inset 0 0 20px 0px rgba(0,0,0,.8);

  }

  &.excellent{
    background: rgb(57,181,74); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5YjU0YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzN2E1NDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(57,181,74,1) 0%, rgba(55,165,69,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(57,181,74,1)), color-stop(100%,rgba(55,165,69,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(57,181,74,1) 0%,rgba(55,165,69,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(57,181,74,1) 0%,rgba(55,165,69,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(57,181,74,1) 0%,rgba(55,165,69,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(57,181,74,1) 0%,rgba(55,165,69,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39b54a', endColorstr='#37a545',GradientType=0 ); /* IE6-8 */

    .eye{
      width: 15px;
      height: 19px;
      top: 26px;
      -webkit-animation: faceExcellent 8s 2s ease-in-out infinite;
      animation: faceExcellent 8s 2s ease-in-out infinite;

      &.left{
        left: 23px;
      }
      &.right{
        right: 23px;

      }
    }
  }

  &.good{
    background: rgb(255,219,9); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZGIwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmQ0MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(255,219,9,1) 0%, rgba(255,212,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,219,9,1)), color-stop(100%,rgba(255,212,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,219,9,1) 0%,rgba(255,212,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,219,9,1) 0%,rgba(255,212,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,219,9,1) 0%,rgba(255,212,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,219,9,1) 0%,rgba(255,212,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdb09', endColorstr='#ffd400',GradientType=0 ); /* IE6-8 */

  }

  &.regular{
    background: rgb(239,129,38); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmODEyNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjZjMjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(239,129,38,1) 0%, rgba(239,108,38,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,129,38,1)), color-stop(100%,rgba(239,108,38,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(239,129,38,1) 0%,rgba(239,108,38,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(239,129,38,1) 0%,rgba(239,108,38,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(239,129,38,1) 0%,rgba(239,108,38,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(239,129,38,1) 0%,rgba(239,108,38,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef8126', endColorstr='#ef6c26',GradientType=0 ); /* IE6-8 */

  }
  &.bad{
    background: rgb(221,7,23); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RkMDcxNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzA3MTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(221,7,23,1) 0%, rgba(199,7,23,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,7,23,1)), color-stop(100%,rgba(199,7,23,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(221,7,23,1) 0%,rgba(199,7,23,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(221,7,23,1) 0%,rgba(199,7,23,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(221,7,23,1) 0%,rgba(199,7,23,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(221,7,23,1) 0%,rgba(199,7,23,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd0717', endColorstr='#c70717',GradientType=0 ); /* IE6-8 */

  }

}

//Faces

.eye{
  display: block;
  width: 14px;
  height: 14px;
  background: #000;
  position: absolute;
  top:34px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-animation: faceEye 8s 2s ease-in-out infinite;
  animation: faceEye 8s 2s ease-in-out infinite;
  &.left{
    left: 27px;
  }
  &.right{
    right: 27px;

  }
}

.mouth{
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 62px;
}
.excellent{

  .mouth{
    width: 66px;
    height: 30px;
    background: url(../../img/happy-mouth-excellent.png) no-repeat;
    background-size: 100% auto;
  }
}

.good{

  .mouth{
    width: 54px;
    height: 27px;
    background: url(../../img/happy-mouth-good.png) no-repeat;
    background-size: 100% auto;
  }
}

.regular{

  .mouth{
    width: 55px;
    height: 26px;
    background: url(../../img/happy-mouth-regular.png) no-repeat;
    background-size: 100% auto;
  }
}
.bad{

  .mouth{
    width: 54px;
    height: 27px;
    background: url(../../img/happy-mouth-bad.png) no-repeat;
    background-size: 100% auto;
  }
}

.gender{
  font-size: 80px;
  line-height: 101px;
  color: #fff;

  &.g-f{
    background-color: #d38ab7;
  }
  &.g-m{
    background-color: #6995ee;
  }
}