<div class="customers container">
  <header>
    <h2>Clientes</h2>
  </header>
  <div class="box-cont">
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped table-w-actions">

      <tr ng-repeat="customer in $data">
        <td title="'ID'" sortable="'id'">
          <a ng-href="customer/{{customer.id}}" title="ID">{{customer.id}}</a>
        </td>
        <td title="'Nombre'" sortable="'name'">
          <a ng-href="customer/{{customer.id}}" title="Detalle del Cliente">{{customer.name}}</a>
        </td>
        <td class="txt-a-r" title="'Acciones'" >
          <div class="actions-links">
            <a ng-href="/admin/customer/{{customer.id}}" title="Detalle del Cliente"><i class="fa fa-list-alt"></i></a>
            <a ng-href="/admin/customer/{{customer.id}}/edit" title="Editar"><i class="fa fa-pencil"></i></a>
            <a ng-click="deleteCustomer(customer.id)" title="Borrar"><i class="fa fa-trash-o"></i></a>
          </div>

        </td>
      </tr>
    </table>
    <div ng-show="showCreateCutomerForm">
      <ng-include src="'customers/partials/customer.create.tpl.html'"></ng-include>
    </div>

  </div>
</div>

<!--Create Customer Btn-->
<button class="add-btn" ng-click="showCreateCutomerForm = true;"><i class="fa fa-plus"></i></button>
<!--/Create Customer Btn-->