<div class="customers container">
  <header>
    <h2>{{customerName}}</h2>
  </header>
  <div class="box-cont">
    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped table-w-actions">

      <tr ng-repeat="location in $data">
        <td title="'ID'" sortable="'id'">
          <a ng-href="customers/{{location.id}}" title="ID">{{location.id}}</a>
        </td>
        <td title="'Tienda'" sortable="'store'" ng-switch="row.isEditing">
          <a ng-href="customers/{{location.id}}" title="Detalle de la Tienda">{{location.store}}</a>
        </td>
        <td title="'Área'">
          {{location.area}}
        </td>
        <td class="txt-a-r" title="'Acciones'" >
          <div class="actions-links">
            <a ng-href="/admin/customer/{{location.id}}" title="Detalle de la Tienda"><i class="fa fa-list-alt"></i></a>
            <!--<a ng-href="/admin/customer/{{location.id}}/edit" title="Editar"><i class="fa fa-pencil"></i></a>-->
            <a ng-click="deleteLocation(location.id)" title="Borrar"><i class="fa fa-trash-o"></i></a>
          </div>
        </td>
      </tr>
    </table>
    <div ng-show="showCreateCutomerForm">
      <ng-include src="'customers/partials/customer.create-location.tpl.html'"></ng-include>
    </div>

  </div>
</div>

<!--Create Customer Btn-->
<button class="add-btn" ng-click="showCreateCutomerForm = true;"><i class="fa fa-plus"></i></button>
<!--/Create Customer Btn-->